version: '3.9'

x-python-base: &python-base
  build:
    context: .
    dockerfile: Dockerfile
  env_file:
    - .env
  environment:
    POSTGRES_USER: ${POSTGRES_USER}
    POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    POSTGRES_DB: ${POSTGRES_DB}
    POSTGRES_HOST: db
    POSTGRES_PORT: 5432
    
services:
  db:
    image: postgis/postgis:15-3.3
    container_name: meuat_postgis_db

    env_file:
      - .env

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: ${PGDATA}

    ports:
      - "6432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
      - ./logs/postgresql:/var/log/postgresql

    command:
      - "postgres"
      - "-c"
      - "listen_addresses=*"
      - "-c"
      - "logging_collector=on"
      - "-c"
      - "log_destination=stderr"
      - "-c"
      - "log_directory=/var/log/postgresql"
      - "-c"
      - "log_filename=postgresql-%Y-%m-%d.log"
      - "-c"
      - "log_rotation_age=1d"
      - "-c"
      - "log_rotation_size=100MB"
      - "-c"
      - "log_min_messages=warning"
      - "-c"
      - "log_connections=on"
      - "-c"
      - "log_disconnections=on"
      - "-c"
      - "log_line_prefix=%t [%p]: [%l-1] user=%u,db=%d,app=%a,client=%h "
      - "-c"
      - "log_error_verbosity=verbose"
      - "-c"
      - "log_lock_waits=on"
      - "-c"
      - "log_hostname=on"
      - "-c"
      - "log_timezone=UTC"
      - "-c"
      - "log_min_error_statement=error"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  carga:
    <<: *python-base
    container_name: meuat_carga
    volumes:
      - ./scripts_carga:/app/scripts
      - ./data:/app/data
    working_dir: /app/scripts
    command: python -u main.py
    depends_on:
      db:
        condition: service_healthy
    restart: "no"

  api:
    <<: *python-base
    container_name: meuat_geo_api
    ports:
      - "${API_PORT:-8000}:8000"
    volumes:
      - ./app:/app/app
    working_dir: /app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      db:
        condition: service_healthy
      carga:
        condition: service_completed_successfully
    restart: unless-stopped

volumes:
  postgres_data:
